# Activar motor de reescritura
RewriteEngine On

# Establecer base relativa (opcional, normalmente no se requiere)
RewriteBase /

# Redirigir todas las peticiones al index.php si no es archivo/carpeta
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# Proteger archivos sensibles
<FilesMatch "\.(env|sql|log|ini|sh|bat|inc|bak|config|php~)$">
    Require all denied
</FilesMatch>
